body{ 
/* background-color: #272727;
opacity: 0.8;
background-image: radial-gradient(#272727 0.5px, transparent 0.5px);
background-size: 10px 10px;
z-index: -1; */
  background-image: url(./img/background.svg);

}
/* body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #;
} */


/* .centered {
  margin:  auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  color: white !important;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  margin-bottom: inherit;
  width: 140px;
}

 */
